/* globals.css */
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* මේ කෑල්ල විතරක් තියාගන්න */
.gold-loader {    
  --r1: 154%;
  --r2: 68.5%;
  background:
    radial-gradient(var(--r1) var(--r2) at top   , #0000 79.5%, #C5A358 80%),
    radial-gradient(var(--r1) var(--r2) at bottom, #C5A358 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   , #0000 79.5%, #C5A358 80%),
    #E8E2D2;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: waveAnimation 1.8s infinite linear;
}

@keyframes waveAnimation {
  33%  { background-position: 0% 33% , 100% 33% , 200% 33% }
  66%  { background-position: -100% 66% , 0% 66% , 100% 66% }
  100% { background-position: 0% 100%, 100% 100%, 200% 100% }
}